{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<div class="ec-footerRole">

    <div class ="footer-img">
        <img src="{{ asset('assets/img/footer/bg-footer8.jpg') }} ">
        <div class ="foo-content-iterm" >
            <h1 class ="iterm-1">Đăng kí để nhận cập nhật</h1> 
            <p class ="iterm-2 foo-iterm-2">Để lại email để không bỏ lỡ bất kì ưu đãi nào</p>  
            <p>
                <span class=" email-dang-ky">
                    <input type="email" name="email-dang-ky" value="" class="form_dang_ky" id="email-dang-ky" aria-required="true" aria-invalid="false" placeholder="Email ...">
                    <input type="submit" value="Đăng ký" class="form_dang_ky" id="btn-gui"><span class="ajax-loader"></span></p>
                </span>
                  
                <br>
            </p>
        </div>
    </div>

    <div class="ec-footerRole__inner">
        <div class="ec-footerAdress">
            <img src="{{ asset('assets/img/footer/logo-new.png') }} " style =" width: 186px;">
            <p>319 C16 Lý Thường Kiệt, Phường 15, Quận 11, Tp.HCM</p>
            <p> <a href="tel:07043864536">Điện thoại:<span> 070 4386 4536</span></a></p>
            <p><a href="mailto:thanhdodpk33@gmail.com">Mail: <span> thanhdodpk33@gmail.com</span></a></p>
            <p><a href="skype:thanhdodpk33@gmail.com?chat">Skype: <span> thanhdo nguyen</span></a></p>
        </div>
        <div class="ec-footermMenu">
            <h3>MENU</h3>
            <p class ="sub-ec-footermMenu"><a href="#">Trang chủ</a></p>
            <p><a href="#">Giới thiệu</a></p>
            <p><a href="#">Cửa hàng</a></p>
            <p><a href="#">Kiến thức</a></p>
            <p><a href="#">Liên hệ</a></p>
        </div>
        <div class="ec-footerCatalog">
            <h3>SẢN PHẨM</h3>
            <p> <a href="#">Rau củ</a></p>
            <p><a href="#">Trái cây</a></p>
            <p><a href="#">Đồ uống</a></p>
            <p><a href="#">Đồ khô</a></p>
        </div>
        <div class="ec-footerContact">
            <h3>INSTAGRAM</h3>
            <p> Instagram has returned invalid data.</p>
        </div>      
    </div>
    <div class="ec-footerTitle">
        <div class="ec-footerTitle__copyright">copyright (c) {{ BaseInfo.shop_name }} all rights reserved.</div>
    </div>
</div>
